
        <table style="width: 100%; max-width: 660px; margin-left: auto; margin-right:auto;font-family: 'Rubik', sans-serif;">
            <%- await  include('header'); -%>
            <tr>
                <td>
                    <table style="width: 100%; font-family: 'Rubik', sans-serif;">
                        <tr>
                            <td style="padding: 20px 24px 60px 24px; font-family: 'Rubik', sans-serif;">
                                <table>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">Hi,</td>
                                </tr>
                                <tr><td style="font-family: 'Rubik', sans-serif;">Greetings!</td></tr>
                                <tr>                             
                                    <td style="font-family: 'Rubik', sans-serif;">You are just a step away from accessing your Audio-Lasitava account.</td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">We are sharing a link to change your password.It will expires after 5 minutes.<br/>
                                        Once you have set a new password, you'll be prompted to login immediately. This is to ensure that only you have access to your account.<br/><br/>
                                    </td>
                                </tr>
                                <tr>    
                                    <td style="font-family: 'Rubik', sans-serif;">Link: <span style="color: #F2B15A;font-family: 'Rubik', sans-serif; letter-spacing:2px;"><a href=<%= link %>> Click here</a> </span><br/><br/></td>
                                </tr>
                                <tr>
                                    <!-- <td style="font-family: 'Rubik', sans-serif;">Expires in: 1 minute<br/><br/></td> -->
                                </tr>    
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">    
                                        Best Regards,<br/>
                                        Team Audio-Lasitava
                                    </td>    
                                </tr>    
                                </table>
                            </td>
        
                        </tr>
                        <%- await  include('footer'); -%>                    
                    </table>
                </td>
            </tr>
        </table>